name: Build APK
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install tools
        run: |
          sudo apt update
          sudo apt install -y python3-pip
          pip3 install buildozer
      
      - name: Make app files
        run: |
          echo "print('APP')" > main.py
          echo '[app]' > buildozer.spec
          echo 'title=App' >> buildozer.spec
          echo 'package.name=test' >> buildozer.spec
      
      - name: Build
        run: |
          buildozer android debug || true
          mkdir apk-folder
          find . -name "*.apk" -exec cp {} apk-folder/ \; 2>/dev/null || echo "No APK"
      
      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: apk-result
          path: apk-folder/
