name: Build LEO APK
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Android SDK Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y libncurses5
          mkdir -p ~/.android && touch ~/.android/repositories.cfg
          yes | sdkmanager --licenses
          sdkmanager "build-tools;34.0.0" "platforms;android-34" "platform-tools"

      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        with:
          workdir: .
          buildozer_version: stable
