name: Build LEO APK
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Android SDK टूल्स को ठीक करना
      - name: Install Android SDK Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y libncurses5
          echo "y" | sdkmanager --install "build-tools;34.0.0" "platforms;android-34" "platform-tools"

      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        with:
          workdir: .
          buildozer_version: stable
