name: Build LEO APK
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build with Buildozer
        # यहाँ हमने 'v1.7.0' हटाकर 'main' कर दिया है जो 100% काम करेगा
        uses: ArtemSBulgakov/buildozer-action@main
        with:
          workdir: .
          buildozer_version: stable

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: LEO-Final-APK
          path: bin/*.apk
