name: Build LEO APK
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

    - name: Install Android SDK Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y libncurses5
          # यह लाइन बिना रुके सब कुछ अपडेट कर देगी
          yes | sdkmanager --licenses
          sdkmanager "build-tools;34.0.0" "platforms;android-34" "platform-tools"
      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        with:
          workdir: .
          buildozer_version: stable
