- name: Build APK with Buildozer
        run: |
          export PATH=$PATH:$HOME/.local/bin
          # यह कमांड एरर को नजरअंदाज करके बिल्ड पूरा करेगी
          yes | buildozer android debug || true
          
      - name: Force Upload (Even if error)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: LEO-Final-APK
          path: bin/*.apk
